.dashboard-wrap {
  padding: 25px;
  background: #0d0d0d;
  min-height: 100vh;
  color: white;
  font-family: sans-serif;
  .dashboard-title {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  .dashboard-body {
    background-color: #111;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 35px;
    border: 1px solid #222;
    .dashboard-body-title {
      margin-bottom: 15px;
      font-size: 20px;
      border-bottom: 1px solid #333;
      padding-bottom: 8px;
    }
  }
}