.admin-login-form {
  padding: 40px;
  color: white;
  margin: auto;
  .admin-login-form-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    label {
      input {
        width: 300px;
        height: 40px;
        padding: 15px;
      }
    }
    .admin-login-form-btn {
      padding: 10px 30px;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}