@use '../../mixin'as *;

.verification-content {
  color: white;
  .verification-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
    .verify {
      width: calc(33.33% - 20px);
      background-color: #211a4f;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 80px;
      @include screen-max-width-991 {
        width: 100%;
      }
      label {
        position: relative;
        i {
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }
      button {
        padding: 10px;
        background-color: #211a4f;
        color: white;
        border: 1px dashed white;
        margin: 10px 0;
        cursor: pointer;
      }
      .icon-file {
        display: flex;
        align-items: center;
        gap: 10px;
        i {
          background-color: white;
          font-size: 20px;
        }
      }
    }
  }
  .verify-upload {
    .file-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #d2c81b;
      color: white;
      border-radius: 10px;
      height: 100%;
      span {
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    .verify-file {
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .files-info {
        background-color: #211a4f;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 83%;
        i {
          background-color: white;
          font-size: 20px;
          position: absolute;
          top: 20px;
          right: 40px;
          cursor: pointer;
        }
        span {
          color: white;
        }
      }
    }
    ul {
      width: 83%;
      margin-top: 20px;
      background-color: #211a4f;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        height: 100%;
        width: 100%;
        color: white;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: #18133b;
        }
      }
    }
    .progress {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #211a4f;
    }
  }
  .uploading-files {
    border: 1px dashed white;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .file-preview {
      p {
        display: flex;
      }
    }
    .upload-btn {
      padding: 10px 30px;
      border-radius: 10px;
      background-color: #211a4f;
      color: white;
      border: none;
      cursor: pointer;
      margin: 20px 0;
    }
  }
}