.platform-content {
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  min-height: 56px;
  width: 100%;
  border-radius: 10px;
  p {
    color: white;
    font-size: 16px;
  }
  a {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}