@use "variables" as *;


@mixin screen-max-width-1650 {
  @media (max-width: $max-width-1650) {
    @content;
  }
}

@mixin screen-max-width-1500 {
  @media (max-width: $max-width-1500) {
    @content;
  }
}

@mixin screen-max-width-1400 {
  @media (max-width: $max-width-1400) {
    @content;
  }
}

@mixin screen-max-width-1300 {
  @media (max-width: $max-width-1300) {
    @content;
  }
}

@mixin screen-max-width-1200 {
  @media (max-width: $max-width-1200) {
    @content;
  }
}

@mixin screen-max-width-1110 {
  @media (max-width: $max-width-1110) {
    @content;
  }
}

@mixin screen-max-width-991 {
  @media (max-width: $max-width-991) {
    @content;
  }
}

@mixin screen-max-width-930 {
  @media (max-width: $max-width-930) {
    @content;
  }
}

@mixin screen-max-width-900 {
  @media (max-width: $max-width-900) {
    @content;
  }
}

@mixin screen-max-width-767 {
  @media (max-width: $max-width-767) {
    @content;
  }
}

@mixin screen-max-width-600 {
  @media (max-width: $max-width-600) {
    @content;
  }
}

@mixin screen-max-width-567 {
  @media (max-width: $max-width-567) {
    @content;
  }
}

@mixin screen-max-width-430 {
  @media (max-width: $max-width-430) {
    @content;
  }
}