$darkBlue: #060113;
$white: #ffffff;
$darkslateblue: #5244a6;




$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1400: 1400px;
$max-width-1300: 1300px;
$max-width-1250: 1250px;
$max-width-1200: 1200px;
$max-width-1110: 1110px;
$max-width-991: 991px;
$max-width-930: 930px;
$max-width-900: 900px;
$max-width-767: 767px;
$max-width-600: 600px;
$max-width-567: 567px;
$max-width-430: 430px;