
h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.admin-block {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  .log {
    background-color: #b2aeae;
    color: #18133b;
  }

  button {
    padding: 15px 50px;
    background-color: #FFCC00FF;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 45px;
  position: relative;

  p {
    position: absolute;
    top: -15px;
    background-color: #FFCC00FF;
    padding: 5px;
    border-radius: 20px;
    color: white;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #5244a6;
  }

  .error {
    border: 2px solid red;
    margin-bottom: 20px;
  }
}

.gender-block {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
  border: 1px solid #5244a6;
  padding: 20px;
  border-radius: 10px;

  .gender {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.cards-block {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  color: white;

  .card-item {
    text-align: center;
    width: calc(25% - 15px);
    background-color: #FFCC00FF;
    padding: 15px;
    border-radius: 10px;

    ul {
      margin: auto;

      li {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
      }
    }

    a {
      margin: 5px 0 10px;
      width: 100px;
      height: 100px;
      display: block;

      img {
        width: 100%;
        object-fit: cover;
        border: 2px solid black;
        border-radius: 50%;
        padding: 5px;
      }
    }
  }
}
